<script src="/static/js/jquery-min.js"></script>
<script> const csrf = "{{ csrf }}" </script>
<script>
$(document).ready(function(){
    $('#sendChat').on('click',function(){
        ajax.SendChat();
    })
    });
    var ajax ={ 
    SendChat(){
        message = $('#chat').val();
        console.log("Message:"+message);
        $.ajax({
            type: 'POST',
            url: "sendchat/",
            headers: {
                "X-CSRFToken" : csrf,
            },
            data : {
                "message" : message,
            },
            success: function (e) {
//               alert('success'); 
                $('#output').append("AI:"+e.message);
            },
            error: function (e) {
//               alert('error'); 
            }
        });
    },
}
 
</script>
<input type="text" id="chat" /><br />
<button id="sendChat">SEND</button>
<div id="output" style="border:1px dotted gray">
    {{ chat.response }} 
</div>

