{% load static %}
	<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon.ico" />		

<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <title>playcanvas hello cube</title>
    <meta name='viewport' content='width=600, height=400, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no' />
    <style>
        body {
            margin: 0;
            overflow: show;
        }
    </style>
    <script src="/static/js/jquery-min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src='https://code.playcanvas.com/playcanvas-stable.min.js'></script>
</head>
<body>
    <canvas id='application'></canvas>


<!-- TODO
    ### "Speak to create the game." Log into website, auth microphone, tell game to create a new script, interface with Chat API to create that script, generate the script file, load it into canvas.

    # Microphone auth
    # Speech to text API with voice
    # Capture voice and send to ChatGPT via API
    # capture response from API, specifically code snippet for .js file
    # create the js file on the server
    # load the js file dynamically in the current user's session
    # enjoy new thing you created

-->

</body>
</html>
	<!-- <head>
		<title> hotkey.tv </title>
	<meta name="google-site-verification" content="KPrCTIkFg3RCIWPoYvQO3QBnFcEqKflrEQI_6ztrwzE" />
	{% block styles %}
		<link rel='stylesheet' href="static/css/home.css"|add:version|safe type='text/css'>
	{% endblock %}

	{% block scripts %}
	{% endblock %}
	</head>
<body>
hotkey.tv
</body>

-->



